<header>
    <div class="logo-container">
      <img class="logo" src="assets/images/logo.png" alt="logo">
    </div>
    <nav class="nav" *ngIf="currentUser$ | async as user; else notAuthenticated">
      <ul>
        <li>
          <a>
            Albergue
          </a>
        </li>
        <li>
          <a>
            Adopción
          </a>
        </li>
        <li>
          <a>
            Voluntariado
          </a>
        </li>
        <li>
          <a>
            Donación
          </a>
        </li>
      </ul>

      <div class="profile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>

<!--      <ul>-->
<!--        <li>-->
<!--          {{ user.username }}-->
<!--        </li>-->
<!--        <li (click)="logout()">-->
<!--          Logout-->
<!--        </li>-->
<!--      </ul>-->
    </nav>
</header>

<ng-template #notAuthenticated>
  <nav>
    <ul>
      <li
        [routerLink]="['/auth/login']"
      >
        Login
      </li>
      <li
        [routerLink]="['/auth/register']"
      >
        Register
      </li>
    </ul>
  </nav>
</ng-template>
