
<div>
  <section class="first-section">
    <div>
      <p>Dale un nuevo hogar, a tu nuevo mejor amigo. Adopta!</p>
      <button mat-raised-button color="basic">
        Iniciar Sesión
      </button>
      <p>¿No tienes una cuenta?</p>
      <span>Registrate aquí</span>
    </div>
    <img src="assets/svgs/person.svg">
  </section>

  <section class="second-section">
    <div>
      <p>Dale un nuevo hogar, a tu nuevo mejor amigo. Adopta!</p>
      <button mat-raised-button color="basic">
        Iniciar Sesión
      </button>
      <p>¿No tienes una cuenta?</p>
      <span>Registrate aquí</span>
    </div>
    <img src="assets/svgs/person.svg">
  </section>
</div>

<h2>IT JUST WORKS :)</h2>
