
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 150px 0;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 50px 100px 0;
  }
}

@media screen and (max-width: 840px) {
  main {
    padding: 50px 50px 0;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 50px 25px 0;
  }
}
